#banner {
    margin: 15px;
}

@keyframes newAnim {
    from { opacity: 0; }
    to { opacity: 1; }
}

#banner img {
    max-width: 90%;
    border-radius: 5px;
    animation: newAnim 1s forwards;
}

#banner img.hide {
    display: none;
}